body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}


.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: white;
    background-color: red;
    padding: 20px;
    font-size: 50px;
    text-align: end;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:yellow;
    gap: 20px;

    
}

.container {
    background-color:white;
    width: 500px;
    height: 500px;
    border: solid;
    border-width: 20px;
    border-color: red;
    border-radius: 15px;

    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr) ;
    
}

.pixel {
    background-color: white;
}

.buttons {
    background-color: yellow;
    display: flex;
    gap: 12px;
    justify-content: center;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    width: 150px;
    height: 30px;
    border: 0;
}

button:hover{
    background-color: white;
    color: red;
}
